body {
    color: #555555;
    padding-bottom: 50px;
    background-color: rgb(252,243,252);
}

#navbar {
    font-size: larger;
    font-weight: bolder;
    border-bottom: solid thin #555555;
}

img {
    display: block;
    margin: 0 auto;
}

.cat {
    padding-left: 20px;
    padding-right: 20px;
}

.cat:hover {
    background-color: white;
}

.category {
    margin-left: 15%;
    margin-right: 15%;
    padding-top: 100px;
}

.heading {
    margin-bottom: 20px;
    font-weight: bolder;
    font-family: 'Architects Daughter', cursive;
}

#mainPic {
    height: 400px;
    width: 300px;
    border: solid 10px teal;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

#title {
    font-weight: bolder;
    text-align: center;
    font-family: 'Architects Daughter', cursive;
}

/* projects */
.card {
    margin: 1px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px teal;
    border-radius: 2px;
    overflow-wrap: break-word;
    padding: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
    background-color: rgb(252,243,252);
}

.projectPic {
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
}

a {
    color: teal;
}

#exercisePic {
    width: 300px;
}

.github {
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
    color: teal;
    padding-top: 10px;
    font-family: 'Architects Daughter', cursive;
}

/* form */
.cardHeading {
    text-align: center;
    padding: 10px;
}

input {
    float: right;
    width: 80%;
}

textarea {
    width: 100%;
}

.form {
    margin: 0 auto;
    width: 400px;
    border: solid 1px teal;
    border-radius: 2px;
    padding: 35px;
    font-family: 'Architects Daughter', cursive;
}

.form-element {
    font-weight: bolder;
}

.btn {
    height: 40px;
    border-style: none;
    width: 49%;
    border-radius: 2px;
}

.btn-primary {
    background-color: teal;
}

.btn-secondary {
    border-style: solid;
    border-width: thin;
}

.btn:hover {
    background-color: lightgray;
    color: black;
}