body {
    color: #555555;
    padding-bottom: 50px;
}

#navbar {
    font-size: larger;
    font-weight: bolder;
}

img {
    display: block;
    margin: 0 auto;
}

.cat {
    padding-left: 20px;
    padding-right: 20px;
}

.cat:hover {
    background-color: white;
}

.category {
    margin-left: 250px;
    margin-right: 250px;
    padding-top: 100px;
}

.heading {
    margin-bottom: 20px;
}

#mainPic {
    height: 300px;
    width: 300px;
    border: solid 5px teal;
    padding: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

#title {
    font-weight: bolder;
    text-align: center;
}

/* projects */
.card {
    margin: 1px;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px teal;
    border-radius: 2px;
    overflow-wrap: break-word;
    padding: 50px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.projectPic {
    width: 200px;
    height: 200px;
    padding-bottom: 20px;
    padding-top: 20px;
}

.github {
    font-size: xx-large;
    font-weight: bolder;
    text-decoration: none;
    color: teal;
    padding-top: 10px;
}

/* form */
.cardHeading {
    text-align: center;
}

input {
    float: right;
    width: 70%;
}

.form {
    margin: 0 auto;
    width: 400px;
    border: solid 1px teal;
    border-radius: 2px;
    padding: 10px;
    padding-bottom: 40px;
}

.form-element {
    font-weight: bolder;
}

.btn {
    height: 40px;
    border-style: none;
    width: 49%;
    border-radius: 2px;
}

.btn-secondary {
    border-style: solid;
    border-width: thin;
}